*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(9, 11, 26);
    font-family: 'lexend deca';
    color: rgb(255, 255, 255); 
    padding: 0 20px;
    font-size: 15px;
}
.container{
    border-radius: 8px;
    margin: 100px auto;
}

header{
    font-size: 15px;
}

img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 400;   
}


main{
    margin-top: -3px;
    background: rgb(27, 25, 56);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 0;
    letter-spacing: 1px;

}

span.insight{
    color: rgb(170, 92, 219)
}

h1{
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    font-weight: 700;
    line-height: 0.98em;
    color: rgb(255, 255, 255); 
}
p{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    font-family: 'inter';
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0; 
    color: rgba(255, 255, 255, 0.75); 
}
.second div h5{
    margin-top: 20px;
    text-align: center;
}
span.items{
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
section.second{
    margin-top: 30px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    body{
        padding: 0;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        padding: 40px;
    }

    header{
        display: flex;
        width: 50%;
        font-size: 15px;
        order: 2; 
        margin-top: -2px;
    }
    main{
        width: 50%;
        order: 1;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 0;
        padding: 40px;
    }
    .second div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
    }
    h1{
        text-align: left;
        margin-left: 0;
        font-size: 2.5rem;
    }
    p{
        text-align: start;
        margin: 40px 0 5px 0;
        font-size: 1rem;
    }
    img{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 0; 
    }
        
}
